.componentContainer {
    margin: 30% auto;
    font-size: 40px;
    padding: 10px;
    border-color: rgba(255, 255, 255, 0.3);
    border: 2px solid;
    text-transform: uppercase;
    text-align: center;
}