.componentContainer {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: 
  " header header header"
  " . main .";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}